.addAppointmentForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 700px) {
  .addAppointmentForm {
    flex-direction: column;
  }
}
