.addAppointmentForm {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 700px) {
  .addAppointmentForm {
    flex-direction: column;
  }
}

.modal {
  z-index: 2000;
}

.modal-backdrop {
  z-index: 1900;
}
