.leftPanelWrapper {
  display: flex;
  position: absolute;
  align-items: center;
  background-color: #357edd;
  top: 0;
  left: 0;
  bottom: 0;
  width: 23rem;
  z-index: 10;
}

.leftPanelSwipe {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #357edd;
  height: 100%;
  width: 23rem;
  z-index: 10;
}

.datePickerWrapper {
  background-color: #fafafa;
  border-radius: 10%;
  z-index: 20;
}

@media screen and (max-width: 1000px) {
  .addFab {
    left: 17rem !important;
  }
}

@media (max-width: 700px) {
  .leftPanelWrapper {
    display: none !important;
  }
}

@media (min-width: 700px) {
  .swipeDrawer {
    display: none;
  }
}
