.leftPanelSwipe {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #357edd;
  height: 100%;
  width: 23rem;
  z-index: 10;
}

.datePickerWrapper {
  background-color: #fafafa;
  border-radius: 10%;
  z-index: 20;
}
